body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header #branding h1 span {
    color: #5383d3;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header a:hover {
    color: #ffffff;
}

header a.highlight {
    color: #5383d3;
}

main {
    padding: 20px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
